@forward"navbar.scss";
@forward"widget.scss";

@use "fonts.scss" as *;

html,body {
    @include set-font;
    background-color: #282c34;
    width: 100%;
    margin: 0;
}

.root {
    width: 100%;
}