@use "fonts.scss" as *;

.panels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .widget {
        display: flex;
        flex-direction: column;

        background-color: white;
        
        -webkit-box-shadow: 3px 3px 11px -2px #000000; 
        box-shadow: 3px 3px 11px -2px #000000;

        padding: 10px;
        margin: 10px;

        width: 10em;
        height: 10em;

        .widgetImage {
            img {
                width: 9em;
                height: 8em;
            }
        }
    }

    .widget:hover {
        transform: scale(1.05);
        cursor: pointer;
        transition: .2s;
    }
}

